<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>App Financeira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="input">
      <label for="value">Valor da aplicação</label>
      <input type="number" name="value" placeholder="R$ 0.00" [(ngModel)]="value">
    </div>
    <div class="input">
      <label for="tax">Taxa de juros</label>
      <input type="number" name="tax" placeholder="0%" [(ngModel)]="tax">
    </div>
    <div class="input">
      <label for="months">Quantidade de meses</label>
      <input type="number" name="months" placeholder="0"  [(ngModel)]="months">
    </div>

    <div class="buttons">
      <button (click)="clear()">Limpar</button>
      <button (click)="handleSubmit()">Calcular</button>
    </div>

    <div class="input">
      <label for="result">Rendimento total</label>
      <input type="text" name="result" readonly [(ngModel)]="result">
    </div>
  </div>
</ion-content>
