<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>Nº Secreto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="input">
      <label for="number">Número secreto</label>
      <input type="text" name="number">
    </div>
    <div class="input">
      <label for="number">Número secreto</label>
      <input type="text" name="number" readonly>
    </div>

    <h4>Teclado virtual</h4>

    <div class="keyboard">
      <div *ngFor="let number of keyNumbers">
        <button (click)="addKeyNumber(number)">{{number}}</button>
      </div>
    </div>

    <div class="buttons">
      <button>Limpar</button>
      <button>Calcular</button>
    </div>

    <div class="input">
      <label for="result">Resultado</label>
      <input type="text" name="result"  readonly>
    </div>
  </div>
</ion-content>
