<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>Nº Secreto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="input">
      <label for="number">Matrícula</label>
      <input type="text" name="number" value="20192009906" readonly>
    </div>
    <div class="input">
      <label for="number">Nome do aluno</label>
      <input type="text" name="number" value="W. Augusto Fernandes" readonly>
    </div>
  </div>
</ion-content>
